[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
rope = "*"
mypy = "*"

[packages]
httpx = "*"
pandoc = "*"
joplin-api = "*"

[pipenv]
allow_prereleases = true
